<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-greatdayatt" version="1.0.0" xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android">
    <name>GreatdayAtt</name>
    <js-module name="GreatdayAtt" src="www/GreatdayAtt.js">
        <clobbers target="GreatdayAtt"/>
    </js-module>

    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="GreatdayAtt">
                <param name="android-package" value="cordova.plugin.greatdayatt.GreatdayAtt"/>
            </feature>
        </config-file>
        <config-file parent="/*" target="AndroidManifest.xml"/>
        <source-file src="src/android/GreatdayAtt.java" target-dir="src/cordova/plugin/greatdayatt/GreatdayAtt"/>
    </platform>
    <platform name="ios">
        <config-file parent="/*" target="config.xml">
            <feature name="GreatdayAtt">
                <param name="ios-package" value="GreatdayAtt"/>
            </feature>
        </config-file>
        <source-file src="src/ios/GreatdayAtt.m"/>
    </platform>
</plugin>
